<div class="card">
  <div class="card-body">
    <div class="card-title">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{format_url post_url}})</span>
    </div>
    <p class="card-date-created">Created on: {{format_date created_at}}</p>
    {{! <a href="#" class="btn btn-primary">Go somewhere</a> }}
  </div>
</div>