{{! Iterate to create individual posts on homepage }}

<article class="post">
  <a href="/post/{{id}}" class="post-title-href">{{title}}</a>
  <div class="meta">Created on
    {{shorten_date created_at}}
  </div>
</article>