<section class="m-5">
  <h3 class="page-title">Your Dashboard</h3>

  <div>
    <h4>Write a New Post</h4>
    <form class="new-post-form">
      <div>
        <label hidden for="post-title">Title</label>
        <input
          type="text"
          id="post-title"
          name="post-title"
          placeholder="Title"
        />
      </div>

      <div>
        <label hidden for="post-text">Write here.</label>
        <textarea name="post-textarea" placeholder="Write here"></textarea>
      </div>

      <div>
        <button class="submit btn-submit" type="submit">Create Post</button>
      </div>
    </form>

  </div>

</section>

<script src="/javascript/add-post.js"></script>