<section>
  {{! ------------New Post Form ----------- }}
  <div>
    <h4>Edit New Post</h4>
    <form class="edit-post-form">
      <div>
        <input
          type="text"
          id="post-title"
          name="post-title"
          value="{{post.title}}"
        />
      </div>

      <div>

        <textarea name="post-textarea" value="{{post_text}}"></textarea>
      </div>

      <button class="edit-btn btn-block" type="submit">Update</button>
      <button
        class="btn-delete btn-danger btn-block"
        type="submit"
      >Delete</button>
    </form>
  </div>
</section>
{{! ---------New Post Form Ends---------- }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>