{{! we sent posts [] in an obj so not how to iterate over the posts[] to get the properties we want declarea variable}}

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-home post }}
  </li>
  {{/each}}
</ol>