{{! LOGIN Form }}
<form class="login-form m-5">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email-log" />
  </div>

  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-log" />
  </div>

  <div>
    <button type="submit">Login</button>
  </div>
</form>

{{! SIGNUP form }}
<form class="signup-form m-5">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-sign" />
  </div>

  <div>
    <label for="email-sign">Email:</label>
    <input type="text" id="email-sign" />
  </div>

  <div>
    <label for="password-sign">Password:</label>
    <input type="password" id="password-sign" />
  </div>

  <div>
    <button type="submit">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>