{{! LOGIN Form }}
<form class="login-form m-5">
  <div>
    <label hidden for="email-login">Email</label>
    <input type="text" id="email-log" placeholder="Email:" />
  </div>

  <div>
    <label hidden for="password-login">Password:</label>
    <input type="password" id="password-log" placeholder="Password" />
  </div>

  <div>
    <button type="submit" class="btn-submit btn">Login</button>
  </div>
</form>

{{! SIGNUP form }}
<form class="signup-form m-5">
  <div>
    <label hidden for="username-signup">Username</label>
    <input type="text" id="username-sign" placeholder="Username" />
  </div>

  <div>
    <label hidden for="email-sign">Email:</label>
    <input type="text" id="email-sign" placeholder="Email" />
  </div>

  <div>
    <label hidden for="password-sign">Password</label>
    <input type="password" id="password-sign" placeholder="Password" />
  </div>

  <div>
    <button type="submit" class="btn-submit btn">Signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>