:root {
  --color1: #4d4b30;
  --color2: #9acd32;
  --color3: #798270;
  --color4: #e1c9b2;
  --color5: #925217;
  --color6: #56371a;
  --color7: #5c8e2b;
  --color8: black;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  font-size: 16px;
}

body {
  background-color: #a9acb0;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: 
  column; */
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
}

.nav {
  margin: 0.5em 0;
}

.nav-item {
  text-decoration: none;
  justify-content: center;
  color: black;
  font-weight: bold;
  transition: color 0.1s;
}

.nav-link {
  border: solid 3px black;
  /* padding: 5px 30px; */
  margin-left: 1.1em;
  color: black;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
  width: 6.8em;
  justify-content: center;
}

.logout-btn {
  margin-right: 1.1em;
}

button:hover,
.nav-link:hover {
  background-color: #212575;
  color: white;
}

.hero {
  background-color: black;
  background-image: url("../assets/images/HeroJoshAngles1.jpg");
  /* opacity: 0.6; */
  background-size: cover;
  background-position: 50% 30%;
}

.hero-text {
  color: white;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.post {
  background-color: #e9f0f2;
  border: solid 0.2em black;
  padding: 0.6em;
  border-radius: 15px;
  box-shadow: 5px 6px;
  font-size: 1em;
}

.post-list li {
  list-style: none;
}

.post-title {
  background-color: whitesmoke;
  border-radius: 15px;
}

.site-title {
  font-size: 3em;
}

.tag-line {
  font-size: 1.5em;
}

.footer {
  flex-shrink: 0;
  height: 15vh;
  font-size: 0.9em;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

/*** MQ FOR SMALLER/MEDIUM SCREENS  and LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/

@media screen and (min-width: 568px) {
  body {
    font-size: 16px;
  }

  .footer-text {
    font-size: 1em;
  }

  .post {
    font-size: 1em;
  }
}

/***LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/
@media screen and (min-width: 768px) {
  .site-title {
    font-size: 4em;
  }

  .footer-text {
    font-size: 1.2em;
  }

  .post {
    font-size: 1.2em;
  }
}
