:root {
  --color1: #4d4b30;
  --color2: #212575;
  --color3: #afd7ed;
  --color4: #13b9f0;
  --color5: #26282b;
  --color6: #6b090f;
  --color7: #1da154;
  --color8: black;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  font-size: 16px;
}

body {
  background-color: #a9acb0;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: 
  column; */
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
}

.nav {
  margin: 0.5em 0;
}

.nav-item {
  text-decoration: none;
  list-style: none;
  justify-content: center;
  color: black;
  font-weight: bold;
  transition: color 0.1s;
}

.nav-link {
  border: solid 3px black;
  /* padding: 5px 30px; */
  margin-left: 1.1em;
  color: black;
  font-weight: bold;
  /* transition: background-color 0.1s; */
  cursor: pointer;
  border-radius: 5px;
  width: 6.8em;
  justify-content: center;
}

.logout-btn,
.login-btn {
  margin-right: 1.1em;
}

.btn-submit {
  border: solid 3px black;
  background-color: var(--color2);
  color: whitesmoke;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 1.5%;
  width: 100%;
  justify-content: center;
}

.comment-btn {
  border: solid 3px black;
  background-color: var(--color2);
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.3%;
  width: 100%;
  justify-content: center;
}

button:hover,
.nav-link:hover {
  background-color: var(--color2);
  color: whitesmoke;
  font-size: 1.1em;
}

.meta {
  border-bottom: solid 2px black;
}

.single-post-card,
.comment-form {
  margin: 1.5em;
}

.comment-title,
.single-post-title {
  background-color: black;
  color: whitesmoke;
  font-size: 1.3em;
  padding: 0.4em;
  margin: 0;
}

.cards-section-title {
  background-color: black;
  color: whitesmoke;
  font-size: 1.3em;
  padding: 0.4em;
  margin: 2em 1.4em 0;
}

.card-text {
  padding: 2%;
  border-radius: 0;
  min-width: 100%;
  font-size: 1.2em;
}

button:hover,
.nav-link:hover {
  background-color: var(--color2);
  color: whitesmoke;
  font-size: 1.1em;
}

.btn-submit:hover {
  background-color: var(--color4);
  color: whitesmoke;
  font-size: 1.4em;
}

.hero {
  background-color: black;
  background-image: url("../assets/images/josh-rose-trYl7JYATH0-unsplash.jpeg");
  /* opacity: 0.6; */
  background-size: cover;
  background-position: 50% 30%;
}

.hero-text {
  color: whitesmoke;
}

.site-title {
  font-size: 3em;
}

.tag-line {
  font-size: 1.5em;
}

.page-title {
  background-color: black;
  color: white;
  font-size: 2.2em;
  font-weight: bold;
  padding: 0.5em;
}

h4 {
  background-color: black;
  color: whitesmoke;
  padding: 2%;
  margin: 0;
}

textarea,
input {
  padding: 2%;
  border-radius: 5px;
  border: 2px solid black;
  min-width: 100%;
  font-size: 1.2em;
}

/* textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
} */

textarea {
  min-height: 150px;
}

/* form label {
  display: block;
} */

.post {
  background-color: #e9f0f2;
  border: solid 0.2em black;
  border-radius: 15px;
  box-shadow: 5px 6px;
  font-size: 1em;
  padding: 0.6em;
}

.post-list li {
  list-style: none;
}

.post-title,
.single-post-title {
  padding: 0.2em;
}

/* .single-post-title {
  font-size: 1.4em;
  font-weight: bolder;
  color: #862ab0;
} */
/* .post-title-href {
  text-decoration: none;
} */

.post-title-link,
.post-title-href {
  color: whitesmoke;
  padding: 0.3em;
  background-color: var(--color5);
  border-radius: 10px;
  font-size: 1.1em;
  text-decoration: none;
}

.post-title-link:hover,
.post-title-href:hover {
  color: whitesmoke;
  padding: 0.3em;
  background-color: var(--color2);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.3em;
}

.footer {
  flex-shrink: 0;
  height: 15vh;
  font-size: 0.9em;
}

.footer-text a {
  text-decoration: none;
  color: white;
}

/*** MQ FOR SMALLER/MEDIUM SCREENS  and LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/

@media screen and (min-width: 568px) {
  body {
    font-size: 16px;
  }

  .footer-text {
    font-size: 1em;
  }

  .post {
    font-size: 1em;
  }

  .login-form,
  .signup-form {
    max-width: 25%;
    margin: 0 auto;
  }

  .btn-submit {
    border: solid 3px black;
    background-color: var(--color2);
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 1.5%;
    width: 40%;
    justify-content: center;
  }
}

/***LARGER TABLETS,  LAPTOPS  DESKTOPS  ***/
@media screen and (min-width: 768px) {
  .site-title {
    font-size: 4em;
  }

  .footer-text {
    font-size: 1.2em;
  }

  .post {
    font-size: 1.2em;
  }
}
